

<ul class="nav">
    <li class="nav-item">
        <a asp-controller="BrightIdeas" asp-action="BrightIdeas" class="nav-link"><u>Bright Ideas</u></a>
    </li>

    <li class="nav-item">
        <a asp-controller="Home" asp-action="Logout" class="nav-link"><u>Logout</u></a>
    </li>
</ul>