<div class="nav">
    <div class="nav-item">
        <a asp-controller="BrightIdeas" asp-action="BrightIdeas" class="nav-link btn btn-outline-primary">Bright
            Ideas</a>
    </div>

    <div class="nav-item">
        <a asp-controller="Home" asp-action="Logout" class="nav-link btn btn-outline-danger">Logout</a>
    </div>
</div>