@model BrightIdea

<div class="container mt-5">
    <form asp-controller="BrightIdeas" asp-action="newIdea" method="POST" class="form-group row" >
        <div class="col-sm-8 col-form-label">
            <input class="col-sm-11 col-form-label" type="text" value="post something witty here...">
        </div>

        <button class="btn btn-outline-dark col-sm-2">Add Idea!</button>
    </form>
</div>