@model User


<partial name="_DashboardLinks" class="text-right"></partial>

<div>
    <p>Name:</p>
    <p>Alias:</p>
    <p>Email:</p>
</div>

<hr>

<div>
    <p>
        Total Number of Posts: 
    </p>
    <p>
        Total Number of Likes:
    </p>
</div>